<div th:fragment="sidebar">
    <h4>Shop Quần Áo</h4>
    <a href="/">
        <i class="fas fa-home"></i> Trang chủ
    </a>
    <a href="/nhan-vien/hien-thi" >
        <i class="fas fa-users"></i> Quản lý nhân viên
    </a>
    <a href="/tai-khoan/hien-thi" >
        <i class="fas fa-users"></i> Quản lý tài khoản
    </a>
    <a href="/khach-hang/hien-thi" >
        <i class="fas fa-user-friends"></i> Quản lý khách hàng
    </a>
    <a href="/san-pham/hien-thi" >
        <i class="fas fa-cogs"></i> Quản lý sản phẩm
    </a>
    <a href="/don-hang/hien-thi">
        <i class="fas fa-box"></i> Quản lý đơn hàng
    </a>
    <a href="/thong-ke">
        <i class="fas fa-box"></i> Thống kê
    </a>
    <a href="/logout">
        <i class="fas fa-sign-out-alt"></i> Đăng xuất
    </a>
</div>
