<div th:fragment="content">
    <div class="container mt-4">
        <div class="form-container">
            <h2 class="text-center mb-4">Thêm/Sửa Nhân Viên</h2>

            <form th:action="@{/nhan-vien/save}" th:object="${nhanvien}" method="post">
                <input type="hidden" th:field="*{maNV}">

                <div class="mb-3">
                    <label class="form-label">Tên nhân viên</label>
                    <input type="text" class="form-control" th:field="*{tenNV}" required placeholder="Nhập tên nhân viên">
                </div>

                <div class="mb-3">
                    <label class="form-label">Sđt nhân viên</label>
                    <input type="text" class="form-control" th:field="*{sdt}" required placeholder="Nhập số điện thoại">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email nhân viên</label>
                    <input type="email" class="form-control" th:field="*{email}" required placeholder="Nhập email nhân viên">
                </div>

                <div class="mb-3">
                    <label class="form-label">Chức vụ</label>
                    <select class="form-control" th:field="*{chucVu}">
                        <option value="Quản lý">Quản lý</option>
                        <option value="Nhân viên">Nhân viên</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Địa chỉ:</label>
                    <input type="text" th:field="*{diaChi}" class="form-control" required/>
                </div>

                <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="/nhan-vien/hien-thi" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>
